@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl my-7;
  }

  h3 {
    @apply text-xl sm:text-2xl my-5;
  }

  h5 {
    @apply text-lg my-5;
  }
}

.theme {
  @apply bg-white dark:bg-gray-900
  text-gray-900 dark:text-gray-100;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply bg-gray-100 dark:bg-gray-900
    text-gray-900 dark:text-gray-100;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Removing arrows from input number boxes */
/* Works for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Works for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@keyframes loading-skeleton-bg {
  to {
    transform: translate(100%)
  }
}

.navbar-desktop {
  transition: left 0.5s ease-out;

  border-right: 1px solid white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

  @media only screen and (min-width: 640px) {
    position: static;
    height: auto;
    border-right: none;
    box-shadow: none;
  }
}

.ant-switch-inner {
  @apply bg-gray-600;
}

.card-head {
  .ant-card-head {
    @apply bg-slate-900 dark:bg-blue-100 rounded-t  text-gray-100 dark:text-gray-900;
  }
}

.card-head-grey {
  .ant-card-head {
    @apply bg-white dark:bg-slate-100;
  }
}

.ant-modal-title {
  @apply dark:bg-gray-200
}

.ant-modal-content {
  @apply dark:bg-gray-200
}

.ant-table-tbody {
  @apply dark:bg-slate-800 dark:text-gray-100;
}

.ant-table-row:hover {
  @apply dark:text-black;
}

.no-border {
  @apply border-none;
}

.grey-border {
  @apply border-solid border border-gray-300 dark:border-gray-500 rounded-xl box-border;
}
